---
cluster: "fox"

form:
  - ec_mail_on_start
  - llm_model
attributes:

  ec_mail_on_start:
    label: "Send e-mail when session starts"
    widget: "check_box"
    value: "false"
    help: |
      <small>Using the e-mail your account is registered to</small>

  llm_model:
    label: "Large Language Model configuration"
    widget: "select"
    value: "gpt-oss_20b_gpu"
    help: |
     <small>
     <ul>
      <li>
        <b>Thinking</b>: Excels at solving complex problems by systematically evaluating 
        multiple possibilities to deliver reasoned answers
      </li>
      <li>
        <b>Vision</b>: Capable of processing and interpreting visual content in pictures and PDFs
      </li>
     </ul></small>
     <div class="alert text-muted small">
       <strong>Disclaimer:</strong> Please note that as with all LLMs, generated text can contain errors or inaccuracies. Please read more about limitations on our <a href="https://www.uio.no/tjenester/it/ki/gpt-uio/hjelp/gpt-begrensninger.html" target="_blank">guidance pages</a>.
     </div>
    display: true
    options:
    - [
        "[GPU] Thinking (GPT-OSS 20B)", "gpt-oss_20b_gpu",
        data-set-ec-cpus:  "2",
        data-set-ec-mem:  "32",
        data-set-ec-gpus:  "1",
      ]
    - [
        "[GPU] Vision, Multiple Languages (Gemma-3 27B)", "gemma-3_27b_gpu",
        data-set-ec-cpus:  "2",
        data-set-ec-mem:  "64",
        data-set-ec-gpus:  "1",
      ]
    - [
        "[GPU] Medical Images, Vision (Medgemma 4B)", "medgemma_4b_gpu",
        data-set-ec-cpus:  "2",
        data-set-ec-mem:  "12",
        data-set-ec-gpus:  "1",
      ]
