---
cluster: "fox"

form:
  - ec_mail_on_start
  - auto_accounts
  - model_source
  - llm_model
  - model_path
  - global_fox_alacarte
  - ec_cpus
  - ec_mem
  - ec_gpus
  - display_info

attributes:

  auto_accounts:
    label: "Choose the Educloud project to run under:"
    help: |
     <small>If you are unsure, ask the project principal</small>

  model_source:
    label: "Model Source"
    widget: "radio"
    value: "predefined"
    options:
      - ["Predefined Models", "predefined"]
      - ["Custom Model (Bring Your Own GGUF)", "custom"]
    help: |
      <small>Choose whether to use a predefined model or provide your own GGUF model URL</small>

  ec_mail_on_start:
    label: "Send e-mail when session starts"
    widget: "check_box"
    value: "false"
    help: |
      <small>Using the e-mail your account is registered to</small>

  ec_cpus:
    widget: "number_field"
    label: "Number of CPU cores:"
    value: "1"
    required: true

  ec_gpus:
    widget: "number_field"
    label: "Number of GPUs:"
    value: "0"
    required: true

  ec_mem:
    widget: "number_field"
    label: "RAM (in GB):"
    value: "1"
    required: true

  model_path:
    label: "Model Path"
    value: ""
    required: true
    help: "<small>Absolute path to a local .gguf file.</small>"
    display: false

  display_info:
    widget: "hidden_field"
    label: "Model Configuration"
    value: "gpt-oss_20b_gpu"
    display: true

  llm_model:
    label: "Large Language Model configuration"
    widget: "select"
    value: "gpt-oss_20b_gpu"
    help: |
     <small>
     <ul>
      <li>
        <b>Thinking</b>: Excels at solving complex problems by systematically evaluating 
        multiple possibilities to deliver reasoned answers
      </li>
      <li>
        <b>Vision</b>: Capable of processing and interpreting visual content in pictures and PDFs
      </li>
     </ul></small>
     <div class="alert text-muted small">
       <strong>Disclaimer:</strong> Please note that as with all LLMs, generated text can contain errors or inaccuracies. Please read more about limitations on our <a href="https://www.uio.no/tjenester/it/ki/gpt-uio/hjelp/gpt-begrensninger.html" target="_blank">guidance pages</a>.
     </div>
    display: false
    options:
    - [
        "[GPU] Thinking (GPT-OSS 20B)", "gpt-oss_20b_gpu",
        data-set-ec-cpus:  "2",
        data-set-ec-mem:  "32",
        data-set-ec-gpus:  "1",
      ]
    - [
        "[GPU] Vision, Multiple Languages (Gemma-3 27B)", "gemma-3_27b_gpu",
        data-set-ec-cpus:  "2",
        data-set-ec-mem:  "64",
        data-set-ec-gpus:  "1",
      ]
    - [
        "[GPU] Medical Images, Vision (Medgemma 4B)", "medgemma_4b_gpu",
        data-set-ec-cpus:  "2",
        data-set-ec-mem:  "12",
        data-set-ec-gpus:  "1",
      ]
