---
cluster: "fox"

form:
  - auto_accounts
  - llm_model
  - ec_cpus
  - ec_mem
  - ec_gpus

attributes:

  auto_accounts:
    label: "Choose the Educloud project to run under:"
    help: |
     <small>If you are unsure, ask the project principal</small>

  ec_cpus:
    widget: "hidden_field"
    label: "Number of CPU cores:"
    cacheable: false
    value: "8"

  ec_gpus:
    widget: "hidden_field"
    label: "Number of GPUs:"
    cacheable: false
    value: "0"

  ec_mem:
    widget: "hidden_field"
    label: "RAM (in GB):"
    cacheable: false
    value: "8"

  llm_model:
    label: "Large Language Model configuration"
    widget: "select"
    value: "gpt-oss_20b_gpu"
    help: |
     <small>
     <ul>
      <li>
        <b>CPU/GPU</b>: Option to run on GPU for significantly faster response times, 
        though GPU resources may be subject to availability constraints
      </li>
      <li>
        <b>Thinking</b>: Excels at solving complex problems by systematically evaluating 
        multiple possibilities to deliver reasoned answers
      </li>
      <li>
        <b>Vision</b>: Capable of processing and interpreting visual content in pictures and PDFs
      </li>
     </ul></small>
     <div class="alert text-muted small">
       <strong>Disclaimer:</strong> Please note that as with all LLMs, generated text can contain errors or inaccuracies. Please read more about limitations on our <a href="https://www.uio.no/tjenester/it/ki/gpt-uio/hjelp/gpt-begrensninger.html" target="_blank">guidance pages</a>.
     </div>
    display: true
    options:
    - [
        "[GPU] Thinking (GPT-OSS 20B)", "gpt-oss_20b_gpu",
        data-set-ec-cpus:  "2",
        data-set-ec-mem:  "32",
        data-set-ec-gpus:  "1",
      ]
    - [
        "[GPU] Vision, Multiple Languages (Gemma-3 27B)", "gemma-3_27b_gpu",
        data-set-ec-cpus:  "2",
        data-set-ec-mem:  "64",
        data-set-ec-gpus:  "1",
      ]
    - [
        "[GPU] Medical Images, Vision (Medgemma 4B)", "medgemma_4b_gpu",
        data-set-ec-cpus:  "2",
        data-set-ec-mem:  "12",
        data-set-ec-gpus:  "1",
      ]
    - [
        "[CPU] Thinking (GPT-OSS 20B)", "gpt-oss_20b_cpu",
        data-set-ec-cpus:  "12",
        data-set-ec-mem:  "24",
        data-set-ec-gpus:  "0",
      ]
    - [
        "[CPU] Medical Images, Vision (Medgemma 4B)", "medgemma_4b_cpu",
        data-set-ec-cpus:  "12",
        data-set-ec-mem:  "12",
        data-set-ec-gpus:  "0",
      ]

